.projects_container {
    width: calc(100% - 40px);
    position: relative;
    background: rgba(250, 190, 204, 0.6);
    background: linear-gradient(180deg,
                rgba(250,190,204,0.6) 0%,
                rgba(255,255,255,1) 70%,
                rgba(190,223,250, 1) 100%);
    padding: 20px;
}

.projects_intro {
    min-height: 250px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.projects_intro-text {
    width: 50%;
    text-align: left;
    min-width: 350px;
}

.projects_intro-text p {
    font-size: 1.6rem;
    color: #282c34;
}

.projects_intro-text a {
    font-size: 1.6rem;
    color: #282c34;
}

.projects_title {
    font-size: 8rem;
    padding: 0;
    margin: 0;
    color:  #fabecc;
    width: 50%;
    min-width: 475px;
}

.projects_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 500px){
    .projects_title {
        font-size: 6rem;
    }
    .projects_intro-text p {
        font-size: 1.2rem;
        margin: 0 20px;
    }
}

@media screen and (max-width: 365px){
    .projects_title {
        font-size: 4rem;
    }
}
