.project_container {
    height: 250px;
    width: 100%;
    max-width: 400px;
    display: block;
    background-color: #282c34;
    margin: 20px;
    padding: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
    border: none;
}

.project_container:hover .project_container--overflow {
    height: 250px;
}

.project_container--overflow {
    display: flex;
    height: 0;
    width: 100%;
    background-color: rgba(68,143,255,0.9);
    align-items: center;
    justify-content: center;
    transition: height 0.5s;
    overflow: hidden;
}

.project_container--text {
    display: block;
    color: white;
    font-size: 35px;
}

@media screen and (max-width: 500px) {
    .project_container {
        background: transparent;
        background-size: contain;
        min-height: 200px;
        background-repeat: no-repeat;
        border: none;
        margin: 15px 0;
    }
}

