.about_container {
    background: #bedffa;
    background: linear-gradient(
                rgba(191, 222, 250, 1) 0%,
                rgba(196,249,185, 1) 100%);
    position: relative;
    padding-bottom: 80px;
}

.about_title {
    font-size: 8rem;
    padding: 0;
    margin: 0;
    color:  #6daaff;
    width: 50%;
    min-width: 475px;
}

.about--img_link_container {
    position: relative;
    margin: 20px;
}

.about--img_link {
    display: block;
}

.about--img_container {
    width: 260px;
    height: 260px;
    position: relative;
    z-index: 1;
}

.about--img_border--inner {
    content: '';
    display: block;
    width: calc(100% - 35px);
    height: calc(100% - 40px);
    border: 30px solid #61dafb;
    position: absolute;
    top: -12px;
    left: -12px;
    transform: rotate(5deg);
    z-index: 2;
}

.about--img_border--outer {
    content: '';
    display: block;
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    background: #C56494;
    opacity: 0.4;
    position: absolute;
    left: -25px;
    top: -25px;
    z-index: 0;
    transform: rotate(-5deg);
}

.about_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: right;
    width: 100%;
}

.about_text {
    width: 60%;
    margin-right: 20px;
    font-size: 1.6rem;
    color: #282c34;
    min-width: 500px;
    margin-left: 15px;
}

.icons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20px;
}

.icon--tech {
    margin: 10px;
    font-size: 60px;
}

@media screen and (max-width: 500px){
    .about_title {
        font-size: 4rem;
        width: 50px;
        text-align: left;
        margin-left: 20px;
    }
    .about_text {
        font-size: 1.2rem;
        width: 100%;
        min-width: 50px;
        margin: 30px 20px;
    }
    .about--img_link_container {
        margin: 60px 40px 40px 40px;
    }
}
