.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 80;
    transition: top 0.5s;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: flex-start;
    align-items: center;

}

.modal_container {
    width: 70vw;
    height: auto;
    background-color: white;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: top 0.5s;
    border: 20px solid #6daaff;
}

.modal_content {
    width: 100%;
}

.modal_columns {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.modal_block {
    width: 100%;
    height: 100%;
    margin: 20px;
}

.modal_block.narrow {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal_snapshot {
    width: 280px;
    height: 175px;
    background: #282c34;
    background-size: contain;
    background-repeat: no-repeat;
}

.modal_snapshot--links a {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin: 20px 0;
    text-decoration: none;
    color: #458FFF;
}

.modal_snapshot--links a:hover {
    text-decoration: underline;
}

.project_description {
    text-align: left;
    width: 90%;
    font-size: 18px;
    line-height: 1.5;
}

.project_description p {
    font-size: 16px;
}

.project_stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.project_stack span {
    display: block;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.modal_btn {
    position: absolute;
    top: 20px;
    right: 40px;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.modal_icon {
    color: #448fff;
    position: absolute;
    top: 1px;
    left: 5px;
}

.modal_icon--shadow {
    color: #282c34;
    opacity: 0.4;
}

.modal_title {
    font-size: 50px;
}

.modal_row {
    font-size: 30px;
    width: 100%;
    margin: 20px 20px 40px 30%;
    display: flex;
    align-items: center;
}

.brand_icon {
    margin-right: 40px;
    color: #C56494;
}

.modal_link {
    font-size: 20px;
    text-decoration: none;
    color: #282c34;
    background: #fff;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.modal_link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1015px) {
    .modal_container {
        width: 80vw;
    }
}

@media screen and (max-width: 800px) {
    .modal_container {
        width: 90vw;
    }
}

@media screen and (max-width: 650px) {
    .modal_container {
        width: 80vh;
    }
    .modal_columns {
        flex-direction: column;
        align-items: center;
    }
    .container--project_description {
        margin-left: 30px;
        max-width: 80vw;
    }
    .modal_block.wide {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 335px) {
    .modal_btn {
        right: 90px;
    }
    .modal_content {
        width: 60%;
    }
}

