.contact_container {
    background-color: #c4f9b9;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-top: 40px;
    padding-bottom: 80px;
}

.contact_text {
    font-size: 4rem;
    font-weight: 600;
    color: #66c44e;
    margin-bottom: 10px;
}

.contact_links {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link_row {
    width: 180px;
    max-height: 28px;
    margin: 0;
    margin-top: 20px;
}

.contact_link {
    font-size: 20px;
    text-decoration: none;
    color: #282c34;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
}

button.contact_link {
    font-family: 'Archivo Narrow', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.contact_link:hover {
    text-decoration: underline;
}

.contact--flex_img_container {
    height: 140px;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.contact--img_container {
    height: 100%;
    position: relative;
}

.contact--img {
    height: 100%;
    width: auto;
    position: relative;
    z-index: 1;
}

.contact--img_border--inner {
    content: '';
    display: block;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border: 20px solid #fabecc;
    position: absolute;
    top: -10px;
    left: -10px;
    transform: rotate(3deg);
    z-index: 2;
}

.contact--img_border--outer {
    content: '';
    display: block;
    height: 160px;
    width: 200px;
    background: #000;
    opacity: 0.3;
    position: absolute;
    left: 10px;
    top: 10px;
    transform: rotate(2deg);
}



@keyframes movement-rotation {
    0% {
        transform: rotate(30deg);
    }
    40% {
        transform: rotate(42deg);
    }
    50% {
        transform: rotate(42deg);
    }
    70% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes flying-top-bottom {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

.contact_link span {
    display: inline-block;
    animation: flying-top-bottom 2s alternate infinite;
    position: relative;
    left: -20px;
}

.icon_paper-plane {
    height: 40px;
    position: relative;
    color: #66c44e;
    transform: rotate(30deg);
    animation-timing-function: ease-in-out;
    animation: movement-rotation 4s forwards infinite;
}

@media screen and (max-width: 895px) {
    .contact--flex_img_container {
        position: static;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .contact_link {
        margin-bottom: 150px;
        text-align: left;
        white-space: nowrap;
    }
}

@media screen and (max-width: 360px){
    .contact_text {
        font-size: 3rem;
    }
    .icon_paper-plane {
        font-size: 2rem;
        margin-right: 10px;
    }
}
