.navbar_container {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar_container ul {
    text-align: right;
    list-style: none;
}

.navbar_container ul li {
    display: inline-block;
    margin-right: 40px;
}

.menu_icon {
    display: none;
}

.menu_icon--shadow {
    display: none;
}


@media screen and (max-width: 500px) {
    .menu_icon {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 40px;
        z-index: 15;
        color: #458FFF;
        cursor: pointer;
    }

    .menu_icon--shadow {
        display: block;
        position: fixed;
        top: 23px;
        right: 18px;
        font-size: 40px;
        z-index: 14;
        color: #000000;
        opacity: 0.4;
    }
    .navbar_container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 0;
        transition: all 0.5s;
        overflow: hidden;
    }
    .navbar_container.active {
        background: #fff;
        height: 100vh;
        width: 100%;
        z-index: 12;
    }
    .navbar_container ul {
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .active_section {
        display: none;
    }
}

@keyframes top-bubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottom-bubbles {
    0% {
        display: block;
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.link  {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: #458FFF;
    position: relative;
    display: inline-block;
    z-index: 1000;
}

.link:before, .link:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.link:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #458FFF 20%, transparent 20%), radial-gradient(circle, transparent 20%, #458FFF 20%, transparent 30%), radial-gradient(circle, #458FFF 20%, transparent 20%), radial-gradient(circle, #458FFF 20%, transparent 20%), radial-gradient(circle, transparent 10%, #458FFF 15%, transparent 20%), radial-gradient(circle, #458FFF 20%, transparent 20%), radial-gradient(circle, #458FFF 20%, transparent 20%), radial-gradient(circle, #458FFF 20%, transparent 20%), radial-gradient(circle, #458FFF 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.link:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #458FFF 20%, transparent 20%), radial-gradient(circle, #458FFF 20%, transparent 20%), radial-gradient(circle, transparent 10%, #458FFF 15%, transparent 20%), radial-gradient(circle, #458FFF 20%, transparent 20%), radial-gradient(circle, #458FFF 20%, transparent 20%), radial-gradient(circle, #458FFF 20%, transparent 20%), radial-gradient(circle, #458FFF 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.link.animate:before {
    display: block;
    animation: top-bubbles ease-in-out 0.75s forwards;
}

.link.animate:after {
    display: block;
    animation: bottom-bubbles ease-in-out 0.75s forwards;
}

.active_section {
    display: inline-block;
    background-color: white;
    height: 15px;
    width: 100px;
    transform: skew(-20deg);
    transition: left linear 0.3s;
    position: absolute;
    z-index: -10;
    top: 28px;
}
